.todo{
    display: flex;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

.todo-text{
    font-size: 12px;
    letter-spacing: -0.17px;
    color: #494c6b;
    cursor:pointer
}

.checked {
    text-decoration: line-through;
}

.cross{
    cursor: pointer;
}

@media screen and (min-width:750px) {
    .todo-text{
        font-size: 16px;
    }
}

@media screen and (min-width:1440px) {
    .todo-text{
        font-size: 18px;
    }
}