.todoInput {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 14px;
  display: flex;
  gap: 12px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px #e3e4f1;
  margin-left: 6px;
  cursor: pointer;
}

input {
  border: none;
  width: 100%;
}

@media screen and (min-width:1440px){
  .circle{
    width: 24px;
    height: 24px;
  }
}